body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.firstsec, .secondsec, .thirdsec, .fourthsec {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firstsec {
    margin: 0;
    background: #1f2937;
    color: white;
    height: 30vh;
    
}
.header {
    display: flex;
}
ul {
    display: flex;

}
.secheader {
    display: flex;
}
img {
    max-width: 50vh;
    height: 15vh;
    
}

.secondsec {
    background: white;
    height: 20vh;
}

.thirdsec {
    background: gray;
    height: 30vh;
}

.fourthsec {
    background: white;
    height: 25vh;
}

.footer {
    background: #1f2937;
    height: 10vh;
}